$main: #512a10;
$black: #222;
$light: #666;
$white: #fff;
$bg-color: #eee;
$border: .1rem solid $main;
$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

body {
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $main;
  }
}

::-moz-selection {
  background-color: $main;
  color: $white;
}

::selection {
  background-color: $main;
  color: $white;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 1.5rem;
}

section {
  padding: 5rem 1rem;
}

.main-title {
  @include titleText(3rem);
  text-align: center;
  margin-bottom: 4rem;
}

.main-btn {
  display: inline-block;
  font-size: 1.7rem;
  padding: 1rem 3rem;
  border: $border;
  color: $main;
  margin-top: 1rem;
  text-transform: capitalize;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    background-color: $main;
    color: $white;
  }
}

// Media Queries

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 0;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
}